* {
    box-sizing: border-box;
}

body {
    background-color: #ECF0F1;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 1.5;
    padding: 2px;
    display: flex;
    flex-direction: column;
}

.sticky {

    position: sticky;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 2px;
  }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #2C3E50;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
  }

.dropdown-content a {
    border-top: 2px solid #ECF0F1;
}
.dropdown-menu {
    width: 120px;
    display: flex;
    flex-direction: row;
    align-content: center;
}

.dropdown:hover .dropdown-content {
    display: block;
  }

.dropdown {
    float: left;
    overflow: hidden;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #2980B9;
    width: 100%;
    height: 200px;
    margin-bottom: 5px;
    font-size: 100px;
    color: #ECF0F1;
    border-radius: 10px;
}

.menu {
    background-color: #2C3E50;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin: 0;
    border: -1px solid #ECF0F1;
}

.menu a {
    font-size: 30px;
    text-decoration: none;
    color: #ECF0F1;
    display: block;
    padding: 8px 10px;
    letter-spacing: 2px;
    border-right: 2px solid #ECF0F1;
    border-left: 2px solid #ECF0F1;
    border-radius: 0px;
}

.menu a:hover, .active {
    background-color: #33CCCC;
    color: #2C3E50;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ECF0F1;
    font-size: 15px;
    letter-spacing: 2x;
    padding: 8px 10px;
    background-color: #2C3E50;
    border-radius: 10px;
}

#icon {
    padding: 15px;
}
.button {
    width: 25%;
    border-radius: 10px;
    background-color: #33CCCC;
    color: #2C3E50;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px;
    letter-spacing: 2px;
    font-weight: 500;
}
.tableHeader {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    background-color: #2C3E50;
    color: #ECF0F1;
    text-align: center;  
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    text-transform: capitalize;
}

.tableRow {
    border-collapse: collapse;
    background-color: #33CCCC;
    color: #2C3E50;
    border-radius: 30px;
}

.functionButton {
    background-color: #33CCCC;
    font-size: 20px;
    color: #2C3E50;
}

td {
    padding: 10px;
    text-align: center;
}

table {
    margin: 20px;
    margin-left: 0;
    align-self: center;
    
}

td a {
    color: #2C3E50;
}

tr td a:hover {
    color: #ECF0F1;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #ECF0F1;;
    border-radius: 10px;
    background-color: rgba(44, 62, 80, 1);
    color: #ECF0F1;
    position: absolute;
    opacity: 1;
    padding: 40px;
}

.form-container {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    background-color: rgba(236, 240, 241, 0.7);
    width: 100%;
    height: 100%;
}
.text-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #ECF0F1;;
    border-radius: 10px;
    background-color: rgba(44, 62, 80, 1);
    color: #ECF0F1;
    position: absolute;
    opacity: 1;
    padding: 40px;
}

.text-container {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    background-color: rgba(236, 240, 241, 0.7);
    width: 100%;
    height: 100%;
}
.form-button {
    width: 40%;
    min-width: 100px;
}

label {
    float: left;
    margin-right: 10px;
}

input, select {
    float: right;
}

input, select, label {
    margin-bottom: 5px;
}

.container {
    display: flex;
    flex-direction: column;
}
.confirm {
    display:none;
}