html {
    position: relative;
    min-height: 100%;
}

.functionButton {
    background-color: #33CCCC;
    font-size: 20px;
    color: #2C3E50;
}

table {
    position: relative;
    margin-top: 0px;
    margin-bottom: 80px;
}

footer {
    position: absolute;
    bottom: 1px;
    width: 98.5%;
}

h3 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 1.5;
    color: #2C3E50;
    margin-top: 35px;
}