#login-body {
    background-color: #f3f3f3;

}

#login-container {
    display: inline-block;
    position:fixed;
    top: 50%;
    left: 50%;
    width:500px;
    height:300px;
    margin-top: -150px; /*set to a negative number 1/2 of your height*/
    margin-left: -250px; /*set to a negative number 1/2 of your width*/
    border: 2px solid black;
    background-color: #bfbfbf;
}

#login {

}

#login-head h3 {
    font-family: "Times New Roman Bold";
    text-align: center;
}

#login-head h5 {
    position: relative;
    font-family: "Times New Roman Bold";
    text-align: left;
    left: 5%;
    color: red;
}

#input-container {
    height: 150px;
    width: 350px;
}

#login-label-container {
    position: relative;
    left: 20%;
}

#login-label-container h5 {
    position: relative;
    left: 45%;
    color: red;
}

#password-label-container {
    position: relative;
    left: 20%;
 }

 #password-label-container h5{
     position: relative;
     left: 45%;
     top: 25%;
     color: red;
  }

#user-login {
    position: relative;
    left: 29%;
}

#user-password {
    position: relative;
    left: 20%;
}

#submit-button {
     position: relative;
     top: 0%;
     left: 57%;


}